<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n"/>
    {{- if (eq (.Values.global.di.logging.useFile | toString) "false") }}
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
    </root>
    {{- else }}
    <appender name="LogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <Append>true</Append>
        <File>${DATAACCESS_HOME}/log/${POD_NAMESPACE}/${POD_NAMESPACE}__${POD_NAME}__${CONTAINER_NAME}__${NODE_NAME}/dataaccess.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>5</maxIndex>
            <FileNamePattern>${DATAACCESS_HOME}/log/${POD_NAMESPACE}/${POD_NAMESPACE}__${POD_NAME}__${CONTAINER_NAME}__${NODE_NAME}/archive/dataaccess.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="LogFileAppender"/>
    </root>
    {{- end }}

</configuration>